@page
@model MyWebApp.Pages.Buyings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Buying</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buying.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buying.Client.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buying.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buying.Product.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buying.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buying.OrderDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Buying.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
