@page
@model MyWebApp.Pages.Buyings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buying</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buying.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buying.Client.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buying.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buying.Product.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buying.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buying.OrderDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Buying?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
